
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WINEGARDNER &amp; HAMMONS</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link href="js/assets/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body class="container-fluid">
        <div class="menu-overlay">
            <ul>
                <li><a href="#"><h1 class="menu-item">Item 1</h1></a></li>
                <li><a href="#"><h1 class="menu-item">Item 2</h1></a></li>
                <li><a href="#"><h1 class="menu-item">Item 3</h1></a></li>
            </ul>
        </div>
        <section id="start" class="row intro-section fullscreen">
            <div class="container">
                <div class="lead-in">
                    <h1 class="title">CREATING VALUE EVERY DAY</h1>
                    <h3 class="subtitle">The Difference In Hotel Management Companies</h3>
                    <div class="arrow-down">
                        <img src="images/arrow-down.svg" alt="arrow down">
                    </div>
                </div>
            </div>
        </section>
        <section id="blank-section" class="row blank-section">
            <div class="container">
            </div>
        </section>
        <nav id="nav" class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 navbar__col">
                        <a class="navbar-brand" href="#"><img src="images/logo.svg" alt="Logo"></a>
                    </div>
                    <div class="col-xs-6 nav-text navbar__col">
                        <img src="images/logotype.svg" class="" alt="Logotype">
                    </div>
                    <div class="col-xs-3 navbar__col navbar-toggle__col">
                        <div type="button" class="navbar-toggle">
                            <i class="icon-bar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">