@font-face {
    font-family: 'Walsheim';
    src: url('../fonts/gt-walsheim-bold-oblique-web.ttf') format('truetype');
    font-weight: bold, 800;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Walsheim';
    src: url('../fonts/gt-walsheim-bold-web.ttf') format('truetype');
    font-weight: bold, 800;
    font-style: normal;
}

@font-face {
    font-family: 'Walsheim';
    src: url('#{$fontsfolder}gt-walsheim-light-oblique-web.ttf') format('truetype');
    font-weight: 100;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Walsheim';
    src: url('#{$fontsfolder}gt-walsheim-light-web.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Walsheim';
    src: url('#{$fontsfolder}gt-walsheim-medium-oblique-web.ttf') format('truetype');
    font-weight: 600;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Walsheim';
    src: url('#{$fontsfolder}gt-walsheim-medium-web.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Walsheim';
    src: url('#{$fontsfolder}gt-walsheim-regular-oblique-web.ttf') format('truetype');
    font-weight: 500, normal;
    font-style: italic, oblique;
}

@font-face {
    font-family: 'Walsheim';
    src: url('#{$fontsfolder}gt-walsheim-web.ttf') format('truetype');
    font-weight: 500, normal;
    font-style: normal;
}

$mainfont: 'Walsheim', 'Arial', sans-serif;

/* COLORS */

$grey: #898989;
$mid-grey: #606060;
$gold: #C1A15D;
$gold-line: #C1A15D;
$gold-text: #C2A258;
$tan: #DFCEA9;
$tan: #F7F1E4;
$tan-text: #DFCEA9;
$blue: #00397A;
$blue-link: #00377C;

.gold {
    color: $gold;
}

h1, h2, h3, h4, .button, .utility, p, li {
    font-family: $mainfont;
    font-weight: 500;
    color: #000000;
}

h1 {
    /* H1 - MEDIUM 40 PT: */
    font-size: 40px;
    line-height: 42px;
}

h2 {
    /* H2 - MEDIUM 24 PT: */
    font-size: 20px;
    line-height: 24px;
    color: $gold;
}

h3 {
    /* H3 - MEDIUM 18 PT: */
    font-size: 18px;
    line-height: 30px;
}

h4 {
    /* H4 - MEDIUM 14 PT: */
    font-size: 14px;
    line-height: 18px;
}

.button {
    /* BUTTONS - MEDIUM 12 : */
    font-size: 12px;
    line-height: 18px;
}

.utility {
    /* Utility - Medium 10 : */
    font-size: 10px;
    line-height: 18px;
}

body, p {
    /* Body - Light 16 pt: */
    font-size: 16px;
    color: $grey;
    letter-spacing: 0px;
    line-height: 36px;
}

@media #{$sm} {
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
    h2 {
        font-size: 24px;
        line-height: 30px;
    }
    h3 {
        font-size: 18px;
        line-height: 30px;
    }
    h4 {
        font-size: 14px;
        line-height: 18px;
    }
    .button {
        font-size: 12px;
        line-height: 18px;
    }
    .utility {
        font-size: 10px;
        line-height: 18px;
    }
    body {
        font-size: 14px;
        line-height: 24px;
    }
}

@media #{$md} {
    h1 {
        font-size: 60px;
        line-height: 84px;
    }
    h2 {
        font-size: 36px;
        line-height: 48px;
    }
    h3 {
        font-size: 24px;
        line-height: 36px;
    }
    h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .button {
        font-size: 14px;
        line-height: 24px;
    }
    .utility {
        font-size: 12px;
        line-height: 18px;
    }
    body {
        font-size: 16px;
        line-height: 36px;
    }
}

@media #{$md} {}

@media #{$lg} {
    h1 {}
}
