.icon-attr {
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	display: block;
}

.twitter-icon {
	background: url('../images/twitter.svg');
	.icon-attr;
}

.twitter-big-icon {
	background: url('../images/twitter-big.svg');
	.icon-attr;
}

.linkedin-icon {
	background: url('../images/linkedin.svg');
	.icon-attr;
}

.linkedin-big-icon {
	background: url('../images/linkedin-big.svg');
	.icon-attr;
}

.facebook-big-icon {
	background: url('../images/facebook-big.svg');
	.icon-attr;
}