@import url(fonts.less);
@import url(icons.less);

/* Styling Notes

container width on designs is ~1122px;

*/

// Mixins
.boxshadow ( @input ) {
    -webkit-box-shadow: @input;
    -moz-box-shadow: @input;
    box-shadow: @input;
}

.vcenter-fix {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.transform(@content) {
    -webkit-transform: @content;
      -moz-transform: @content;
      -ms-transform: @content;
      -o-transform: @content;
      transform: @content;
}

@mainfont: 'Walsheim',
'Arial',
sans-serif;
@gold-line: #C1A15D;
@gold-text: #C2A258;
@blue: #00397A;
@blue-link: #00377C;
@tan: #F7F1E4;
@tan-text: #DFCEA9;
@angle: 25deg;
// Mixins End
html,
body {
    height: 100%;
    width: 100%;
    &.container-fluid {
        padding: 0 0 0 0;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    outline: 1px solid red;
}

section {
    font-family: @mainfont;
    min-height: 500px;
    background: white;
    position: relative;
    &.fullscreen {
        margin: 0;
        width: 100%;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
}

.navbar {
    .boxshadow(0px 10px 20px 0px rgba(0, 0, 0, 0.1));
    z-index: 10;
    background: white;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    .navbar__col {
        height: 78px;
        .navbar__colwrapper {
            width: 100%;
        }
    }
    &.topfix {
        position: fixed;
        top: 0;
    }
    .navbar-brand {
        padding: 0 0;
        float: none;
    }
    .nav-text {
        text-align: center;
    }
    .dropdown-toggle {
        font-size: 30px;
        float: right;
        .glyphicon {
            vertical-align: middle;
        }
    }
    .navbar-toggle {
        display: block;
        border: none;
        padding: 21px 0;
        margin: 0;
        .icon-bar {
            height: 3px;
            width: 22px;
            background: #00397A;
            box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.30);
        }
    }
}

.intro-section {
    background-image: url(../images/header-image.jpg);
    color: white;
    position: fixed;
    z-index: -1;
    .lead-in {
        position: absolute;
        bottom: 0;
        margin-bottom: 131px;
        .title {
            font-weight: 600;
            line-height: 84px;
            font-size: 60px;
            margin: 0;
            text-shadow: 0px 2px 24px rgba(0, 0, 0, 0.30);
        }
        .subtitle {
            font-weight: 100;
            font-size: 24px;
            line-height: 30px;
            text-shadow: 0px 2px 24px rgba(0, 0, 0, 0.30);
            padding-bottom: 46px;
            margin: 0;
        }
    }
}

#section-1 {
    background: transparent;
}

.main-section {
    h1 {
        color: @gold-text;
        font-size: 36px;
        line-height: 48px;
        margin: 0;
    }
    .button {
        background: transparent;
        border: 1px solid;
        font-size: 14px;
        line-height: 24px;
        padding: 18px 0 15px 0;
        width: 220px;
        text-align: center;
    }
    .gold-button {
        .button;
        color: @gold-text;
        border-color: @gold-line;
    }
    .white-button {
        .button;
        color: white;
    }
}

.tiles-section {
    padding-top: 93px;
    .tiles-section__row-1 {
        .tiles-section__image-wrapper {
            .slanted-image-outer {
                .transform( skewX(-@angle) );
                .slanted-image-inner {
                    .transform(skewX(@angle));
                }
            }
            // This is for the slanted line 
            &:after {
                .transform(skewX(-@angle));
            }
        }
    }
    .tiles-section__row-2 {
        margin-top: 20px;
        .tiles-section__image-wrapper {
            .slanted-image-outer {
                .transform(skewX(@angle));
                .slanted-image-inner {
                    .transform(skewX(-@angle));
                }
            }
            // This is for the slanted line 
            &:after {
                .transform(skewX(@angle));
            }
        }
    }
    .slanted-image-left {
        .slanted-image-outer {
            padding-top: 10%;
        }
    }
    .slanted-image-right {
        margin: 0;
        &.tiles-section__image-wrapper {
            margin-left: -0.3%;
        }
    }
    .text-box--outer {
        //display: table;
        width: 100%;
        height: 100%;
        position: relative;
        .text-box--inner {
            //display: table-cell;
            //vertical-align: middle;
            font-size: 24px;
            text-align: center;
            position: relative;
            .vcenter-fix;
        }
    }
    .tiles-section__image-wrapper {
        width: 50%;
        display: inline-block;
        color: @gold-text;
        margin-left: -0.5px;
        position: relative;
        z-index: 2;
        &:after {
            content: "";
            border-left: 1px solid;
            height: 175%;
            position: absolute;
        }
        .slanted-image-outer {
            height: 400px;
            //background-color: grey;
            overflow: hidden;
            .slanted-image-inner {
                height: 350px;
                background-size: cover;
                margin-left: -15%;
                width: 130%;
            }
        }
    }
    .slanted-image-1 {
        .tiles-section__image-wrapper;
        .slanted-image-inner {
            background-image: url('../images/bw-room.jpg');
            &:hover {
                background-image: url('../images/bw-room.jpg');
            }
        }
        &:after {
            top: -30%;
            left: -2.6%;
        }
    }
    .slanted-image-2 {
        .tiles-section__image-wrapper;
        .slanted-image-inner {
            background-image: url('../images/develop-bw.jpg');
            &:hover {
                background-image: url('../images/develop-color.jpg');
            }
        }
        &:after {
            top: -30%;
            left: -2.7%;
        }
    }
    .slanted-image-3 {
        .tiles-section__image-wrapper;
        .slanted-image-inner {
            background-image: url('../images/hotel-bw.jpg');
            &:hover {
                background-image: url('../images/hotel.jpg');
            }
        }
        &:after {
            bottom: 0;
            left: -12.5%;
        }
    }
    .slanted-image-4 {
        .tiles-section__image-wrapper;
        .slanted-image-inner {
            background-image: url('../images/R_Indy_Lobby-bw.jpg');
            &:hover {
                background-image: url('../images/R_Indy_Lobby.jpg');
            }
        }
        &:after {
            top: 0.4%;
            left: 12.3%;
            border-right: 1px solid;
            width: 100.1%;
        }
    }
}

.slanted-line {
    /* Line Copy 18: */
    border-left: 1px solid @gold-line;
    .transform(skewX(-@angle));
    height: 723px;
    position: absolute;
    z-index: 1;
}

.slanted-line-1 {
    .slanted-line;
    bottom: -550px;
    left: 50%;
}

.welcome-section {
    background-image: url('../images/front-exterior.png');
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    .welcome-section__text-box {
        text-align: center;
        padding-top: 244px;
        padding-bottom: 244px;
    }
}

.new-development-section {
    .new-development-section__container {
        position: relative;
        .section-title {
            padding-top: 78px;
        }
        &:before {
            content: "";
            background: @blue;
            width: 57%;
            height: 1500px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .new-development-section__main-content {
        .arrow {
            content: "";
            background: url('../images/arrow-right.svg');
            position: absolute;
            top: ~"calc(50% - 3.5px)";
            height: 9px;
            width: 45px;
        }
        @distance: -60px;
        &:before {
            // Left arrow
            .arrow;
            left: @distance;
        }
        &:after {
            // Right arrow
            .arrow;
            right: @distance;
            .transform(rotate(180deg));
        }
    }
    .new-development-section__text-box {
        padding-top: 92px;
        padding-bottom: 244px;
        color: white;
        .text-box__copy {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .new-development-section__image-gallery {
        .image-gallery__image-wrapper--inner {
            background-image: url('../images/new-developments-image-1.jpg');
            background-size: cover;
            background-position: top center;
            width: 100%;
            height: 423px;
        }
        .image-gallery__pagination ul {
            float: right;
            list-style: none;
            color: white;
            li {
                display: inline-block;
                &.active {
                    color: @gold-text;
                }
            }
        }
    }
}

.social-media-section {
    .social-media-section__row {
        .transform(skewX(-@angle));
    }
    .unskew {
        .transform(skewX(@angle));
    }
    .vpv-icon {
        height: 34px;
        width: 34px;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 34px;
        .unskew;
    }
    .social-media-section__image-box--outer{
        padding: 5px;
        margin-right: 10px;
        overflow: hidden;
    }
    .image-box--inner {
        height: 306px;
        width: 130%;
        margin-left: -15%;
        background-size: cover;

        .image-box__text {
            h1 {
                font-size: 24px;
                color: @tan-text;
                line-height: 36px;
            }
            padding-top: 170px;
            padding-left: 20%;
            color: white;
            font-size: 16px;
            line-height: 24px;
            width: 75%;
        }
    }
    .social-media-section__text-box--outer {
        padding: 5px;
        .text-box--inner {
            background: @tan;
            padding-top: 29px;
            padding-bottom: 34px;
            height: 232px;
            width: 100%;

            .text-box__text {
                .unskew;
                width: 160%;
            }

            /* Define two variables as the loop limits */
            @from : 0;
            @to : 4;
            @start : 60;

            /* Create a Parametric mixin and add a guard operation */
            .loop(@index) when(@index =< @to) {

              /* As the mixin is called CSS is outputted */
              p:nth-of-type(@{index}) {
                text-indent: unit(@start - (@index * 15), px);
              }

              /* Interation call and operation */
              .loop(@index + 1);
            }

            /* the mixin is called, css outputted and iterations called */
            .loop(@from);
        }
    }
    .social-media-section__left-col {
        .image-box--inner {
            background-image: url('../images/develop-color-2.jpg');
            .unskew;
        }
    }
    .social-media-right-col {
        .image-box--inner {
            background-image: url('../images/OU-Exterior-Night_Header1300.jpg');
        }
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
